header {
    background-color:rgb(221,36,255);
    color:rgb(12,181,232);
    text-align:center;
    padding:5px; 
}
nav {
    line-height:30px;
    background-color:rgb(204,204,204);
    height:1000px;
    width:200px;
    float:left;
    padding:5px; 
}
section {
    width:600px;
    float:left;
    padding:10px; 
}
footer {
    background-color:rgb(12,181,232);
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

