header {
    background-color:rgb(12,181,232);
    color:rgb(12,181,232);
    text-align:center;
    padding:5px; 
}
nav {
    line-height:30px;
    background-color:rgb(204,204,204);
    height:1500px;
    width:225px;
    float:left;
    padding:5px; 
}
section {
    width:1000px;
    float:left;
    padding:10px; 
}



.button {
    background-color: rgb(255,76,196);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.footer { 
 background-color:rgb(12,181,232);
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px; 

}
